// @use '../../sass/variables' as *;

.Detalhedoproduto {
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;

&_esquerdo {
    width: 30%;
    text-align: left;
    

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
}

h4 {
    color: #0c70f2;
    font-size: 26px;
    
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    border-bottom: #0c70f2 3px solid;
}





}

&_direito {
    // background-color: red;
    width: 60%;
    height: 400px;

&_nome {
        text-align: center;
    
    h2 {
        text-align: left;
        font-size: 40px;
        font-weight: normal; 
        border-bottom: #0c70f2 3px solid; 

    }

}

    #linha{
        display: flex;
        flex-direction: row;
        
        width: 70%;
       padding: 20px 0 20px 0;

        
    }



   
    

&_preco {
    font-size: 32px;
    margin-bottom: 27px;
    font-weight: bold;
    margin-top: 27px;
}

&_cor {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}
   


&_cubocor {
   
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    
  

}

button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border: none;
    width: 510px;
    height: 65px;
    background-color: #0c70f2;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 20px;
    align-items: center;
    margin-left: 5%;
    color: white;
    // $branco;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    
    


    

}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0c70f2;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
}}

}

//  modal 1 

#modal {
    position: absolute;
    top: 0%;
   
    height:150%;
    width: 100%;
    background-color:  rgba(217, 217, 217, 0.7);
    display: none;

}

//  modal 2

