@use '../../sass/variables' as *;

.footer{
    background-color: $cor-secundaria-site;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    gap: 35px;
    justify-content: flex-start;

    p{
        color: $branco;
    }
    img{
        width: 100px;
    }
}