// @use '../../sass/variaveis' as*;

.footer{
    background-color: #0C70F2;
    // $cor-secundaria-site;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    gap: 35px;
    justify-content: flex-start;

    p{
        color: #ffffff;
        // $branco;
    }
    img{
        width: 100px;
    }
}